.comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 732px;
    /* height: 100%; */
    /* max-height: 735px; */
}

.comment-container {
    width: 100%;
    max-width: 732px;
    min-height: 167px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    box-sizing: border-box;
    gap: 25px;
    background-color: white;
    border-radius: 10px;
}

.comment-section {
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: 100%;
}

.comment-details-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-rating {
    height: 100px;
    min-width: 40px;
    background-color: hsl(228, 33%, 97%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */

}

.comment-rating-plus, .comment-rating-minus {
    color: hsl(239, 57%, 85%);
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
    cursor: pointer;
}

.comment-rating-plus:hover, .comment-rating-minus:hover {
    color: hsl(212, 24%, 26%);
}

.comment-rating-number {
    font-family: 'Rubik';
    font-weight: 500;
    color: hsl(238, 40%, 52%);
}

.comment-details {
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment-detail-username {
    font-family: 'Rubik';
    font-weight: 500;
    display: flex;
    gap: 6px;
}

.comment-detail-created {
    font-family: 'Rubik';
    color: hsl(211, 10%, 45%);
}

.current-user-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(238, 40%, 52%);
    width: 36px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
}

.replies-list-container {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* justify-content: right; */
    /* max-width: 732px; */
    /* height: 100vh; */
    /* border: 1px solid black; */
}

.replies-list {
    display: flex;
    flex-direction: column;
    /* min-width: 635px; */
    height: 100%;
    gap: 20px;
}

.reply-line-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.reply-line {
    display: flex;
    flex-direction: column;
    width: 1px;
    height: 100%;
    border-left: 1px solid lightgrey;
}