.reply-to-comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    height: 20px;
    /* border: 1px solid black; */
}

.reply-to-comment-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-to-comment-text {
    font-family: 'Rubik';
    font-weight: 500;
    color: hsl(238, 40%, 52%);
}