.comment-details {
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment-detail-username {
    font-family: 'Rubik';
    font-weight: 500;
}

.comment-detail-created {
    font-family: 'Rubik';
    color: hsl(211, 10%, 45%);
}