.comment-rating {
    height: 100px;
    width: 40px;
    background-color: hsl(228, 33%, 97%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

}

.comment-rating-plus, .comment-rating-minus {
    color: hsl(239, 57%, 85%);
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
}

.comment-rating-number {
    font-family: 'Rubik';
    font-weight: 500;
    color: hsl(238, 40%, 52%);
}