.reply-details {
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.reply-detail-username {
    font-family: 'Rubik';
    font-weight: 500;
    display: flex;
    gap: 6px;
}

.reply-detail-created {
    font-family: 'Rubik';
    color: hsl(211, 10%, 45%);
}