.reply-to-reply-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    height: 20px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.reply-to-reply-container:hover {
    opacity: 0.5;
}

.reply-to-reply-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-to-reply-text {
    font-family: 'Rubik';
    font-weight: 500;
    color: hsl(238, 40%, 52%);
}